//body::-webkit-scrollbar-track {
//  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//}
//
//body::-webkit-scrollbar-thumb {
//  background-color: darkgrey;
//  outline: 1px solid slategrey;
//}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
