:root {
  // Vitesse Dark Soft Theme
  --theme-background: #222;
  --theme-foreground: #bfbaaa;
  --theme-primary: #4d9375;
  --theme-secondary: #c99076;
  --theme-faded: #dedcd510;
  --theme-selection: #eeeeee18;
  --theme-link: #80a665;
  --theme-error: #cb7676;
}
